# mongo
MONGO_INITDB_DATABASE=booksdb
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=adminpassword

MONGODB_URL=mongodb://admin:adminpassword@mongodb:27017/?authSource=admin
MONGODB_DB_NAME=booksdb